<div class="row">
  <div class="container">
    <div class="col-md-12 col-xs-12">
      <ol class="breadcrumb">
        <li><a href= <%= root_path %>>Home</a></li>
        <li class="active">Sign Up</li>
      </ol>
    </div>
  </div>
</div>
<div class="row">
  <div class="container">
    <div class="col-md-12 col-xs-12">
      <div class="page-header">
        <h1>Join Us now</h1>
      </div>

      <div class="col-md-6 col-xs-12">
        <%= render 'form' %>
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="jumbotron">
          <h1>Why Join Us?</h1>
          <p>Because we are AWESOME!! =D </p>
        </div>
      </div>
    </div>
  </div>
</div>
