<div class="row">
  <div class="container">
    <div class="col-md-12 col-xs-12">
      <ol class="breadcrumb">
        <li><a href= <%= root_path %>>Home</a></li>
        <li class="active">About</li>
      </ol>
    </div>
  </div>
</div>
<div class="row">
  <div class="container">
    <div class="col-md-12 col-xs-12">
      <div class="page-header">
        <h1>About <small>something about this project</small></h1>
      </div>
    </div>
  </div>
</div>