<div class="row">
  <div class="container">
    <div class="col-md-12 col-xs-12">
      <ol class="breadcrumb">
        <li class="active">Home</li>
      </ol>
    </div>
  </div>
</div>
<div class="row">
  <div class="container">
    <div class="col-md-12 col-xs-12">
      <div class="jumbotron">
		    <h1>Welcome</h1>
		    <p>Feel like understand more about time zone around your locations?</p>
    
		    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
		  </div>
    </div>
  </div>
</div>